services:
  - type: static
    name: gofetch
    env: static
    repo: https://github.com/onsundevelopers-prog/gofetch
    branch: main
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
